<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="experience">
  <div class="my-auto">
    <h2 class="mb-5">{{ experience.sectionTitle }}</h2>
    <div class="resume-item d-flex flex-column flex-md-row mb-5" *ngFor="let job of experience.jobs">
      <div class="resume-content mr-auto">
        <h3 class="mb-0">{{ experience.jobTitle }}</h3>
        <div class="subheading mb-0">
          <a [href]="job.companyUrl" target="_blank">{{ job.company }}</a>
        </div>
        <div class="subheading l3 mb-3"> {{ job.date }} </div>
        <p>{{ job.description }}</p>
      </div>
    </div>
  </div>
</section>