<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="certifications">
  <div class="my-auto">
    <h2 class="mb-5">{{ certification.title }}</h2>

    <h3 class="mb-3">{{ certification.certsTitle }}</h3>
    <p class="p-fa-ul" *ngFor="let e of certification.exams">
      <img *ngIf="e.logo; else certIcon" [src]="e.logo" [alt]="e.logo">
      <ng-template #certIcon>
        <i class="fa fa-certificate"></i>
      </ng-template>
      <a [href]="e.uri" target="_blank"> {{ e.description }}</a>
    </p>

    <h3 class="mb-3 mt-3">{{ certification.awardsTitle }}</h3>
    <ul class="fa-ul mb-0">
      <li *ngFor="let a of certification.awards">
        <i class="fa-li fa fa-trophy"></i>
        <a [href]="a.uri" target="_blank">{{ a.description }}</a>
      </li>
    </ul>

    <h3 class="mb-3 mt-3">{{ certification.examsTitle }}</h3>
    <ul class="fa-ul mb-0">
      <li *ngFor="let course of certification.courses">
        <i class="fa-li fa fa-book text-info"></i>
        {{ course }}
      </li>
    </ul>

  </div>
</section>
