<section class="resume-section p-3 p-lg-5 d-flex d-column" id="about">
  <div class="my-auto">
    <h1 class="mb-0">Murilo
      <span class="text-secondary">Dias De</span>
      <span class="text-primary">Almeida</span>
    </h1>
    <div class="subheading mb-5">Jundiaí, São Paulo - BRAZIL - +55 (11) 96647-9339 -
      <a href="mailto:name@email.com">murilo.ad@outlook.com</a>
    </div>
    <p class="mb-5">
      I’m a software developer with over 5 years of experience developing and implementing .NET applications and modern web apps.
      I believe that through Scrum we are able to deliver a solution valuable to the client rather than lines of code, which,
      pretty much anyone can do. The real deal is being able to deliver something that they can relate to, not just software.
      Being passionate about what I do makes me pursuit excellence on everything I do.
    </p>
    <ul class="list-inline list-social-icons mb-0">
      <li class="list-inline-item">
        <a href="https://www.linkedin.com/in/murilodealmeida" target="about:blank">
          <span class="fa-stack fa-lg">
            <i class="fa fa-square fa-stack-2x"></i>
            <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
          </span>
        </a>
      </li>
      <li class="list-inline-item">
        <a href="https://github.com/morilon" target="about:blank">
          <span class="fa-stack fa-lg">
            <i class="fa fa-square fa-stack-2x"></i>
            <i class="fa fa-github fa-stack-1x fa-inverse"></i>
          </span>
        </a>
      </li>
    </ul>
  </div>
</section>