.bg-primary {
  background-color: #013243 !important;
}

.text-primary {
  color: #013243 !important;
}

a {
  color: #34495E;
}

a:active,
a:focus,
a:hover,
.list-social-icons a:hover,
.list-icons .list-inline-item i:hover {
  color: #446CB3;
}

.subheading.l3 {
  font-weight: 400;
  font-size: 1.2rem;
}
